.modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(201, 193, 193, 0.9);
}

.modal-container {
    height: 32rem;
    width: 60rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.modal-container h1 {
    margin: 1rem 0 0.5rem 0;
    font-weight: bold;
    font-size: larger;
    font-family: "Source Serif Pro", serif;
}

.model-btn {
    height: 8rem;
    width: 12rem;
    border-width: 1px;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.2rem; 
}

.model-btn:hover {
    background-color: rgb(231, 167, 89);
    color: #fff;
    transform: scale();
    transition: all 0.1s;
}

.model-btn img {
    height: 2rem;
    width: 2rem;
    margin-left: 4rem;
    margin-bottom: 0.5rem;
}


.pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  

@media (max-width: 768px) {
    .modal-container {
        width: 90vw;
        height: auto;
        max-height: 90vh;
        padding: 1.5rem;
    }
    .model-btn{
        flex-direction: column;
        align-items: center;
    }

    .explore-btn {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
    }
}

