.scrollable-container {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

.outer-box{
 margin-left: 90px;
 border: solid 1px rgb(213, 211, 211);
 color: rgb(17, 17, 27);
 width: 200px;
 padding: 10px;
 border-radius: 10px;


} 
hr{
color: black;
}

.Check-Box{
/* border: solid 1px black; */
margin: 0%;
padding: 0%;
height: 25px;
}




.sub-topic{
text-align: left;
} 




/* ScrollBar Css */

.scrollable-container {
max-height: auto; /* Set a height to make it scrollable */
overflow-y: scroll;
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
width: 12px;
border-radius: 30px;
border: solid 1px black;

}

.scrollable-container::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 30px;
border: solid 1px black;

}

.scrollable-container::-webkit-scrollbar-thumb {
background: #888;
border-radius: 40px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
background: #ca4848;
}

/* Custom scrollbar styles for Firefox */
.scrollable-container {
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1;

}

.scrollable-container:hover {
scrollbar-color: #555 #f1f1f1;
}


/* Responsive */

@media screen and (max-width: 600px) {
#footer-logo {
  display: none; 
}
}

@media screen and (max-width: 600px) {
#info {
    font-size: small;
}
}
@media screen and (max-width: 600px) {
#btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
