#footer-logo{
    display: block;
}

@media screen and (max-width: 767px) {
    #footer-logo {
      display: none; 
    }
  }

  @media screen and (max-width: 767px) {
    #info {
        font-size: small;
    }
  }